
.container {
    
    width: 300px;
    /* height: 200px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 16px;
}

.header {
    padding-top: 10px;
    padding-left: 10px;
}

.body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.yellow {
    color: rgb(250 204 21)
}

.green {
    color: green;
}